video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    !transform: translateX(-50%) translateY(-60%);
}

.video-container {
	width:100%;
    overflow: hidden;
    height: inherit;
}



.maintext{
    color: #eee;
     text-shadow: 0 0 50px #000;
     font-size: 10em;
     text-align: center;
    
}

.maintext2{
    color: #eee;
     text-shadow: 0 0 50px #000;
     font-size: 2em;
     text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

h2, h3{
    color: #eee;
}

.graybg{
    background: #555;
}

.graybg p{
    color: #eee;   
}

.whitebg{
}

.whitebg h2, .whitebg p{
    color: #222;   
   
}


