ul
{
    list-style-type: none;   
}
ul{
 list-style-type: none;   
}
#ct h3, h4{
     line-height: 1px;   
}
.employee {
    display: block;
    width: auto;
    text-align: center;
    margin-top: auto;
}
.employee p{
    margin: 10px;
}
.employee img
{
    width: 221px;   
}
.background
{
    background-color: #1b75bb;
    width: 100%;
    transform: translateY(-12%);
    z-index: -1px;
    height: 120%;   
}