@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
ul
{
    list-style-type: none;   
}
ul{
 list-style-type: none;   
}
#ct h3, h4{
     line-height: 1px;   
}
/*.vp {
    display: inline-block;
    height: 200px;
    width: 250px;
}*/
.vp {
    display: inline-block;
    width: auto;
    height: 200px;
    text-align: center;
    margin-bottom: 45px;
}
.vp p{
    margin: 10px;
}
/*.loose p{
    display: inline-block;
    text-align: center;
    width: 250px;
}*/