@media only screen and (max-width: 768px) 
{
    [class*="col-"] 
    {
        width: 100%;
    }
}
ul
{
    list-style-type: none;   
}
ul{
 list-style-type: none;   
}
#ct h3, h4{
     line-height: 1px;   
}
.employee {
    display: inline-block;
    width: auto;
    height: 200px;
    text-align: center;
    margin-bottom: 45px;
}
.employee p{
    margin: 10px;
}