@import url(https://fonts.googleapis.com/css?family=Oswald);
a:hover { 
    color: #00ff99; 
} 
li {  
    display: inline;
} 
nav {
    background-color: #eeeeee;
}
nav li { 
    color: aqua;
    font-size: 30px; 
    font-family: "Oswald"; 
    font-style: bold;
}
nav a { 
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
}