@import url(https://fonts.googleapis.com/css?family=Oswald);
a:hover { 
    color: #00ff99; 
} 
li {  
    display: inline;
} 
nav {
    background-color: indianred;
}
nav li { 
    font-size: 30px; 
    font-family: "Oswald"; 
    font-style: bold;
    padding: 40px;
    float: right;
}
nav a { 
    color: black;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
}
#haf {
    float: left;
}
p { 
    font-family: cursive;
}
#gaf {
    width: 150px;
}
    