.parallax{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.parallax-0{
    background-image: url("../img/balloons-dark.jpg");
    height: 100vh;
}
.parallax-1{
    background-image: url("../img/presents-white.jpg");
}
.parallax-2{
    background-image: url("../img/rave-white.jpg");
}
.parallax-3{
    background-image: url("../img/sunset-dark.jpg");   
}
.row-padding{
    padding: 7em 0em;
}