#progress-bar{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    overflow: auto;
}

#progress-size{
    background: #C8005A;
    color: #eee;
}

#progress-occasion, #progress-theme, #progress-add-ons, #progress-payment{
    background: #1B75BB; /** TO BE REPLACED BY ALT MAGENTA */
    color: #eee;
}

form{
    line-height: 200%;   
}

button, #button{
    background-color: #C8005A;
    color: #eee;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin: 0.5em 0em 0.5em 0.5em;
    text-decoration: none;
    transition: background 0.25s;
    border: 0;
    float: right;
}

button:hover, #button:hover{
    background: #1B75BB; /** TO BE REPLACED BY ALT MAGENTA */
}

#size{
    display: block;
}

#occasion, #theme, #add-ons, #payment{
    display: none;
}

#cost{
    
}