html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

#progress-bar{
    text-align: center;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background: #C8005A;
    color: #eee;
}

/*#progress-size{
    background: #C8005A;
    color: #eee;
}

#progress-occasion, #progress-theme, #progress-add-ons, #progress-payment{
    background: #E00069;
    color: #eee;
}*/

form{
    line-height: 200%;   
}

#size{
    display: block;
}

#occasion, #theme, #add-ons, #payment{
    display: none;
}

.store label{
    background-color: #1B75BB;
    color: #eee;
    font-size: 30px;
    margin: 0.5em 0em;
    text-decoration: none;
    transition: background 0.25s;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.store label input{
    position: absolute;
    visibility: hidden;
}

.store label:hover{
    background-color: #0098CB;   
}
.store label input:checked + span{
    background-color: #C8005A;
}

.store span {
    padding: 10px 20px 10px 20px;
    display:block;
}

#fullnext{
    width: 100%;   
}
#next{
    width: 100%;
    /*float: right;*/
}
#back{
    background-color: #555;
    color: #eee;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    margin: 0.5em 0em;
    text-decoration: none;
    transition: background 0.25s;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#back:hover{
    background: #222;
}
#cost{
    width: 100%;
    color: #fff;
    background-color: #555;
    padding: 0.5em 0em;
}

.debug{
    display: none;   
}
.product-list{
    
}
.item{
    padding: 0px 15px;
    display: inline-block;
    width: 33%;
    text-align: center;
}
img{
    max-width: 100%;
}
.item img{
    max-height: 200px;
}
@media only screen and (max-width: 768px) {
    #cost{
        position: fixed;
        bottom: 0px;
        left: 0px;
    }
    .item{
        width: 100%;
    }
}